<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />
	
	<title> Mercado Liebre Argentina</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<header class="main-header">
		<%- include('./partials/header.ejs') %>
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	
	<section class="form-login">
		<form action="/logueado">
			<h4>Ingresar</h4>
			<input class="casilla-login" type="text" name="nombres" id="nombres" placeholder="Nombre">
			<input class="casilla-login" type="password" name="contraseña" id="contraseña" placeholder="contraseña">
			<input class="check-log" type="checkbox" value="" id="form2Example31" checked />
			<label class="check-log"> Recordarme</label>
			<input class="botons" type="submit" name="submit" id="login" placeholder="login">
		</form>
	</section>


	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer.ejs') %>
	</footer>
	<!-- /footer -->
</body>

</html>