<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head.ejs')%>
</head>

<body>
	<!-- Header -->
	<header class="main-header">
		<%- include('./partials/header-logueado.ejs')%>
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar producto</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<section class="form-login">
				<form action="/product/productUpdate/<%= id %>" method="post">
				<h4>Agregar producto <i class="fa-solid fa-cart-shopping"></i></h4>
				<input class="casilla-login" type="text" name="imagen" id="imagen" placeholder="Imagen">
				<input class="casilla-login" type="text" name="nombreProducto" id="nombreProducto" placeholder="Nombre del producto">
				<input class="casilla-login" type="text" name="descripcion" id="descripcion" placeholder="Descripción">
				<input class="botons" type="submit" name="submit" id="login" placeholder="login">
				</form>
			</section>
	<!-- /Novedades -->


	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer.ejs') %>
	</footer>
	<!-- /footer -->
</body>

</html>