<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head.ejs')%>
</head>

<body>
	<!-- Header -->
	<header class="main-header">
		<%- include('./partials/headerLogueado.ejs', {user: usuarios})%>
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<form action="/logueado" method="get" class="formulario">
				
				<div class="form-outline mb-4">
					<input type="file" id="ftoProducto" name="ftoProducto">
					<label for="ftoProducto" class="form-label">Imagen del producto</label>
				</div>
	
					
				<div class="form-outline mb-4">
					<input type="text" id="nombreProd" name="nombreProd">
					<label for="nombreProd" class="form-label">Nombre del producto</label>
				</div>
					
				<div class="form-outline mb-4">
					<input type="text" id="Descripcion" name="Descripcion">
					<label for="Descripción" class="form-label">Descripcion del producto:</label>
				</div>

				<div class="form-outline mb-4">
					<input type="date" id="fecha" name="fecha" >
					<label for="fecha" class="form-label">fecha de carga</label>		
				</div>
					
					
		
					<!-- Submit button -->
				<button type="submit" class="btn btn-primary btn-block mb-4">Enviar</button>
			</form>
			</div>
	</div>

	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer.ejs') %>
	</footer>
	<!-- /footer -->
</body>

</html>