<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head.ejs')%>
</head>

<body>
	<!-- Header -->
	<header class="main-header">
		<%- include('./partials/header.ejs') %>
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	
	<section class="form-login">
		<form action="/logueado" method="get">
		<h4>Registrate <i class="fa-solid fa-address-card"></i></h4>
		<input class="casilla-login" type="email" name="email" id="email" placeholder="Email">
		<input class="casilla-login" type="text" name="usuario" id="usuario" placeholder="Usuario">
		<input class="casilla-login" type="password" name="contraseña" id="contraseña" placeholder="Contraseña">
		<input class="casilla-login" type="date" name="nacimiento" id="nacimiento" placeholder="Fecha de Nacimiento">
		<input class="casilla-login" type="number" name="documento" id="documento" placeholder="Documento">
		<input class="casilla-login" type="text" name="foto-perfil" id="foto-perfil" placeholder="Foto de Perfil">
		<input class="botons" type="submit" name="submit" id="login" placeholder="login">
		</form>
	</section>


	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer.ejs') %>
	</footer>
	<!-- /footer -->
</body>

</html>